body {
    background-color: lavender;
}

h1 {
    color: midnightblue;
    text-align: center;
    font-size: 100px;
    font-family: 'Trebuchet MS';
}

.category {
    display: inline-flex;
    justify-content: 'first baseline';
    justify-content: baseline;
    align-content: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 20px;
    background-color: burlywood;
    color: midnightblue;
    font-family: 'Trebuchet MS';
}

div {
    display: inline-flex;
    margin-right:20px;
    margin-left: 20px;
}

.link-headings {
    display: inline-flex;
    padding-left: auto;
    align-content: center;
    text-align: center;
    justify-content: center;
}